<nav class="navbar navbar-inverse navbar-bottom">
    <div class="container-fluid">
        <div class="row nav navbar-nav">
            <div class="col-xs-12 col-md-4 newsletter">
                    <p class=" heading text-center">NEWSLETTER</p>
                    <form name="newsletter" class="promotion">
                        <div class="form-group">
                            <label for="email">Sign up for promotions</label>
                            <input type="email" id="email" class="form-control" placeholder="your-email@example.com">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn large-btn btn-primary subscribe">SUBSCRIBE</button>
                        </div>
                    </form>
            </div>
            <div class="col-xs-12 col-md-4 getconnected">
                    <p class=" heading text-center">GET CONNECTED</p>
                    <p class="text-center">
                        <span class="fa fa-facebook"></span>
                        <span class="fa fa-google-plus"></span>
                        <span class="fa fa-yelp"></span>
                    </p>
            </div>
            <div class="col-xs-12 col-md-4 contactus">
                <p class=" heading text-center">CONTACT US</p>
                <div class="address">
                    <p>832-786-1915</p>
                    <p><a href="mailto:housenkid@gmail.com">housenkid@gmail.com</a></p>
                    <p>1102 Upland Drive,</p>
                    <p>Unit F, Houston,</p>
                    <p>TX - 77043</p>
                </div>
            </div>
        </div>
    </div>
</nav>