<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
          <img src="http://www.housenkid.com/images/logo_hnk.png">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class="{'select':headerVm.homeFlag}" ng-click="headerVm.navHome()"><a  ui-sref="home">HOME</a></li>
        <li ng-class="{'select':headerVm.contactFlag}" ng-click="headerVm.navContact()"><a ui-sref="contact">CONTACT</a></li>
        <li ng-class="{'select':headerVm.aboutFlag}" ng-click="headerVm.navAbout()"><a  ui-sref="about">ABOUT US</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!--<li>
            <div class="ebay">
                <span><img src="https://upload.wikimedia.org/wikipedia/commons/4/48/EBay_logo.png"></span>
                <span><a href="#">craigslist</a></span>
            </div>
        </li>-->
        <li>
            <span class="fa fa-phone"></span>
            <span class="phone">832-786-1915</span>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>